/* minify static/css/ */

.tabsStatic .sample {
  height: 450px; }
.tabsStatic .tabpanel-container {
  display: block;
  position: relative;
  background: white;
  border: 0px solid black;
  height: 300px;
  overflow: hidden; }
.tabsStatic [role="tabpanel"] {
  color: white;
  width: 100%;
  height: 100%;
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  position: absolute; }
.tabsStatic [role="tabpanel"].ng-leave.ng-leave-active, .tabsStatic [role="tabpanel"].ng-enter {
  top: -300px; }
.tabsStatic [role="tabpanel"].ng-leave, .tabsStatic [role="tabpanel"].ng-enter.ng-enter-active {
  top: 0; }
.tabsStatic [role="tabpanel"].ng-leave {
  z-index: 100; }
.tabsStatic .tabpanel-container [role="tabpanel"] {
  padding: 20px; }
.tabsStatic .after-tabs-area {
  padding: 25px; }
.tabsStatic .after-tabs-area > span {
  margin-top: 25px;
  padding-right: 15px;
  vertical-align: middle;
  line-height: 30px;
  height: 35px; }
.tabsStatic .after-tabs-area > md-checkbox {
  margin-top: 26px;
  margin-left: 0px; }
.tabsStatic md-tab {
  color: #90caf9 !important; }
.tabsStatic md-tab.active, .tabsStatic md-tab:focus {
  color: white !important; }
.tabsStatic md-tab[disabled] {
  opacity: 0.5; }
.tabsStatic .md-header .md-ripple {
  border-color: #FFFF8D !important; }
.tabsStatic md-tabs-ink-bar {
  background-color: #FFFF8D !important; }
.tabsStatic md-tabs .md-paginator {
  color: white; }

html, body {
  background-color: #F5F5F5;
}

#main-window, .show-move {
  margin-top: 20px;
  /* padding: 20px; */
}

.champion-holder {
  background-color: #FFF !important;
}

.champion-icon {
  width: 48px;
  margin: 15px;
  border-radius: 48px;
  border: 1px solid #ddd;
}

.champion-score {
  /* background-color: #009688; */
  background-color: #8BC34A;
  color: #E0F2F1;
  padding: 10px;

  /* border-bottom-color: rgba(0, 150, 136, .4); */
}

.champion-score.score-medium {
  background-color: #FFEB3B;
}

.champion-score.score-hard {
  background-color: #FF5722;
}

#after-data {
  transition: 400ms ease-out 50ms;
}

.light {
  color: rgba(0,0,0,.5);
}

.light a, .accented {
  color: #FFC107;
  text-decoration: none;
}

.light a:hover {
  text-decoration: underline;
}

.player-accented {
  color: #00BCD4;
}

/* make this look better and also make it transition */
md-item-content:hover {
  box-shadow: 0 0px 5px 0 rgba(0,0,0,.26);
}

.champion-listing.featured {
  background-color: yellow;
}

.random-scores md-grid-tile md-grid-tile-footer {
  /* background: rgba(0, 0, 0, .49); */
  height: 36px;
}

/* .random-scores md-grid-tile:hover md-grid-tile-footer {
  height: 128px;
} */

.random-scores h3 {
  font-weight: 500;
}

/* ['green', 'blue', 'red', 'amber', 'cyan', 'purple'] */
.random-scores .green {
  background: #C5E1A5;
}

.random-scores .blue {
  background: #80DEEA;
}

.random-scores .red {
  background: #EF9A9A;
}

.random-scores .amber {
  background: #FFE082;
}

.random-scores .cyan {
  background: #80DEEA;
}

.random-scores .purple {
  background: #B39DDB;
}

.random-scores .pink {
  background: #F48FB1;
}

.random-scores .indigo {
  background: #9FA8DA;
}

.random-scores .light-blue {
  background: #81D4FA
}

.random-scores img {
  height: 50%;

  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, .49);
}

.champion-listing.ng-enter {
  -webkit-animation: 0.2s bounceInDown ease;
  -moz-animation: 0.2s bounceInDown ease;
  -ms-animation: 0.2s bounceInDown ease;
  -o-animation: 0.2s bounceInDown ease;
  animation: 0.2s bounceInDown ease;
}

.champion-listing.ng-enter-stagger {
  -webkit-animation-delay: .05s;
  -moz-animation-delay: .05s;
  -ms-animation-delay: .05s;
  -o-animation-delay: .05s;
  animation-delay: .05s;
}

.getting-data {
  -webkit-animation: 2s pulse ease;
  -webkit-animation-iteration-count: infinite;

  -moz-animation: 2s pulse ease;
  -moz-animation-iteration-count: infinite;

  -ms-animation: 2s pulse ease;
  -ms-animation-iteration-count: infinite;

  -o-animation: 2s pulse ease;
  -o-animation-iteration-count: infinite;

  animation: 2s pulse ease;
  animation-iteration-count: infinite;
}

.padding-sides {
  padding-left: 20px;
  padding-right: 20px;
}

/* .information {
  background-color: #607D8B !important;
} */

/* from 88, 50, 53
        14, 100, 57 */
/* 14-88 / 100 > -00.74 + 88
               > 00.50 + 50
               > 00.04 + 53
*/
