<md-list>
  <md-item>
    <md-item-content style="height: 5em;" class="champion-listing" ng-repeat="champion in $parent.champions.scores | filter:champion.role = certainFilter | orderBy:'-score' | limitTo: 10 ">
      <div class="md-tile-left">
        <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{champion.image}}" class="champion-icon" />
      </div>
      <div class="md-tile-content" layout="row">
        <div flex>
          <h3>{{champion.championName}}</h3>
          <h4 class="light"><a ng-href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/{{champion.uriname|lowercase}}">Champion Profile</a>
            <span ng-if="champion.playerAdjust != 0">- Your adjustment: <strong class="player-accented">{{champion.playerAdjust|number:2}} points</strong></span>
            <span ng-if="champion.playerAdjust == 0">- Your calculated win rate: <strong class="accented">{{champion.calculated|number:2}}%</strong></span>
            <br />
            KDA: <strong>{{champion.kills|number:0}}/{{champion.deaths|number:0}}/{{champion.assists|number:0}} ({{champion.kda|number:2}})</strong> |
            Win rate: <strong>{{champion.winRate|number:0}}%</strong> |
            Pick rate: <strong>{{champion.pickRate|number:0}}%</strong>
          </h4>
        </div>
      </div>
      <div flex="10" class="champion-score"
      style="background-color: hsla({{champion.score * 0.74 + 14}}, {{champion.score * -0.50 + 100}}%, {{champion.score * -.04 + 57}}%, 1);"
      layout-align="center center" layout="row" layout-fill>
      <h3>{{champion.score | number: 0}}</h3>
    </div>
  </md-item-content>


    <md-divider ng-if="!$last"></md-divider>
  </md-item>
</md-list>
